In [139]:
#importing all the packages 
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')
%matplotlib inline

In [140]:
#importing the training dataset
df_full = pd.read_csv("C:/Users/madhumitha/Downloads/TrainDatasetStockPrice.csv")

In [141]:
#cleaning the training dataset
df_full = df_full.dropna()
df_full = df_full.replace([np.inf, -np.inf], np.nan)
df_full = df_full.dropna()

In [142]:
#importing the test dataset that contains only putcall ratio
df = pd.read_csv("C:/Users/madhumitha/Downloads/TestDatasetPutCall_TS.csv")
df.columns

Index(['Stock Index', 'Put-Call Ratio', 'Unnamed: 2', 'Unnamed: 3',
       'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6'],
      dtype='object')

In [143]:
#Renaming the columns
df=df.rename(columns={'Put-Call Ratio':'Aug10'})
df=df.rename(columns={'Unnamed: 2':'Aug11'})
df=df.rename(columns={'Unnamed: 3':'Aug12'})
df=df.rename(columns={'Unnamed: 4':'Aug13'})
df=df.rename(columns={'Unnamed: 5':'Aug14'})
df=df.rename(columns={'Unnamed: 6':'Aug15'})

In [144]:
df.columns

Index(['Stock Index', 'Aug10', 'Aug11', 'Aug12', 'Aug13', 'Aug14', 'Aug15'], dtype='object')

In [145]:
df.head()

  Stock Index   Aug10   Aug11    Aug12      Aug13        Aug14         Aug15
0         NaN  10-Aug  11-Aug   12-Aug     13-Aug       14-Aug        15-Aug
1      AC3235     0.8    0.66   0.7724   0.983224   0.90121088  0.8983682944
2      AC3236    0.86   0.732  0.85448  1.0866448  1.017042176   1.029257659
3      AC3237    0.93   0.816  0.95024  1.2073024          NaN   1.181961917
4      AC3238    1.09   1.008  1.16912  1.4830912  1.461062144   1.531000223

In [146]:
#dropping unwanted columns
df = df.drop(index=0,axis=0)
#(or) df = df.drop(df.index[2])

In [147]:
df

     Stock Index Aug10  Aug11    Aug12      Aug13        Aug14         Aug15
1         AC3235   0.8   0.66   0.7724   0.983224   0.90121088  0.8983682944
2         AC3236  0.86  0.732  0.85448  1.0866448  1.017042176   1.029257659
3         AC3237  0.93  0.816  0.95024  1.2073024          NaN   1.181961917
4         AC3238  1.09  1.008  1.16912  1.4830912  1.461062144   1.531000223
5         AC3239   NaN  1.104  1.27856  1.6209856  1.615503872   1.705519375
...          ...   ...    ...      ...        ...          ...           ...
3327      AD2734  0.86  0.732  0.85448  1.0866448  1.017042176   1.029257659
3328      AD2735  0.64  0.468  0.55352  0.7074352  0.592327424  0.5493299891
3329      AD2736  0.67  0.504  0.59456  0.7591456  0.650243072  0.6147746714
3330      AD2737  0.79  0.648  0.75872  0.9659872  0.881905664  0.8765534003
3331      AD2738  0.74  0.588  0.69032  0.8798032  0.785379584  0.7674789299

[3331 rows x 7 columns]

In [149]:
df.isnull().sum()

Stock Index      0
Aug10          429
Aug11            2
Aug12           57
Aug13           14
Aug14          105
Aug15          239
dtype: int64

In [150]:
#cleaning test data
df = df.replace([np.inf, -np.inf], np.nan)
df = df.dropna()

df

     Stock Index Aug10  Aug11    Aug12      Aug13        Aug14         Aug15
1         AC3235   0.8   0.66   0.7724   0.983224   0.90121088  0.8983682944
2         AC3236  0.86  0.732  0.85448  1.0866448  1.017042176   1.029257659
4         AC3238  1.09  1.008  1.16912  1.4830912  1.461062144   1.531000223
7         AC3241  1.23  1.176  1.36064  1.7244064  1.731335168    1.83640874
8         AC3242     1    0.9    1.046    1.32796    1.2873152   1.334666176
...          ...   ...    ...      ...        ...          ...           ...
3327      AD2734  0.86  0.732  0.85448  1.0866448  1.017042176   1.029257659
3328      AD2735  0.64  0.468  0.55352  0.7074352  0.592327424  0.5493299891
3329      AD2736  0.67  0.504  0.59456  0.7591456  0.650243072  0.6147746714
3330      AD2737  0.79  0.648  0.75872  0.9659872  0.881905664  0.8765534003
3331      AD2738  0.74  0.588  0.69032  0.8798032  0.785379584  0.7674789299

[2715 rows x 7 columns]

In [151]:
df.reset_index()
#df.drop(df['index'], axis=1)
#df.columns

,index,Stock Index,Aug10,Aug11,Aug12,Aug13,Aug14,Aug15
0,1,AC3235,0.8,0.66,0.7724,0.983224,0.90121088,0.8983682944
1,2,AC3236,0.86,0.732,0.85448,1.0866448,1.017042176,1.029257659
2,4,AC3238,1.09,1.008,1.16912,1.4830912,1.461062144,1.531000223
3,7,AC3241,1.23,1.176,1.36064,1.7244064,1.731335168,1.83640874
4,8,AC3242,1,0.9,1.046,1.32796,1.2873152,1.334666176
...,...,...,...,...,...,...,...,...
2710,3327,AD2734,0.86,0.732,0.85448,1.0866448,1.017042176,1.029257659
2711,3328,AD2735,0.64,0.468,0.55352,0.7074352,0.592327424,0.5493299891
2712,3329,AD2736,0.67,0.504,0.59456,0.7591456,0.650243072,0.6147746714
2713,3330,AD2737,0.79,0.648,0.75872,0.9659872,0.881905664,0.8765534003
2714,3331,AD2738,0.74,0.588,0.69032,0.8798032,0.785379584,0.7674789299

In [152]:
#appending different columns to one single column so as to make time series prediction 

#initially creating different dataframes and then merging them

sample1 = pd.DataFrame(df['Aug10'].values,df['Stock Index'].values)
sample1['Date'] = '8-10'

sample2 = pd.DataFrame(df['Aug11'].values,df['Stock Index'].values)
sample2['Date'] = '8-11'

sample3 = pd.DataFrame(df['Aug12'].values,df['Stock Index'].values)
sample3['Date'] = '8-12'

sample4 = pd.DataFrame(df['Aug13'].values,df['Stock Index'].values)
sample4['Date'] = '8-13'

sample5 = pd.DataFrame(df['Aug14'].values,df['Stock Index'].values)
sample5['Date'] = '8-14'

sample6 = pd.DataFrame(df['Aug15'].values,df['Stock Index'].values)
sample6['Date'] = '8-15'

In [153]:
sample1 = sample1.append(sample2)
sample1 = sample1.append(sample3)
sample1 = sample1.append(sample4)
sample1 = sample1.append(sample5)
sample1 = sample1.append(sample6)

sample1 =sample1.dropna()
sample1

                   0  Date
AC3235           0.8  8-10
AC3236          0.86  8-10
AC3238          1.09  8-10
AC3241          1.23  8-10
AC3242             1  8-10
...              ...   ...
AD2734   1.029257659  8-15
AD2735  0.5493299891  8-15
AD2736  0.6147746714  8-15
AD2737  0.8765534003  8-15
AD2738  0.7674789299  8-15

[16290 rows x 2 columns]

In [154]:
#making the index as the date itself
sample1.index = sample1['Date'] 
sample1 = sample1.rename(columns={'index':"Stock Index",0:"Stock price"})
sample1

#converting the date's datatype from object to datetime
import datetime
sample1['Date'] = pd.to_datetime(sample1.Date,format='%m-%d')
sample1.dtypes
sample1.columns

Index(['Stock price', 'Date'], dtype='object')

In [155]:
#creating a pandas series to fit into the auto arima model without ambiguity
x_train = pd.Series(sample1['Stock price'])
x_train

Date
8-10             0.8
8-10            0.86
8-10            1.09
8-10            1.23
8-10               1
            ...
8-15     1.029257659
8-15    0.5493299891
8-15    0.6147746714
8-15    0.8765534003
8-15    0.7674789299
Name: Stock price, Length: 16290, dtype: object

In [156]:
#dickey fuller test to find the stationarity of the series

from statsmodels.tsa.stattools import adfuller 
def test_stationarity(timeseries):
        #Determing rolling statistics
    #rolmean = pd.rolling_mean(ts, window=24) 
    rolmean = timeseries.rolling(1).mean() 
    #rolstd = timeseries.rolling_std(ts, window=24)
    rolstd = timeseries.rolling(1).std() 
        #Plot rolling statistics:
    orig = plt.plot(timeseries, color='blue',label='Original')
    mean = plt.plot(rolmean, color='red', label='Rolling Mean')
    std = plt.plot(rolstd, color='black', label = 'Rolling Std')
    plt.legend(loc='best')
    plt.title('Rolling Mean & Standard Deviation')
    plt.show(block=False)
        #Perform Dickey-Fuller test:
    print ('Results of Dickey-Fuller Test:')
    dftest = adfuller(timeseries, autolag='AIC')
    dfoutput = pd.Series(dftest[0:4], index=['Test Statistic','p-value','#Lags Used','Number of Observations Used'])

    for key,value in dftest[4].items():
        dfoutput['Critical Value (%s)'%key] = value
    print (dfoutput)

In [157]:
from statsmodels.tsa.arima_model import ARIMA

In [158]:
#x_train = df_full['Put-Call Ratio']
#x_train = x_train.dropna()

In [159]:
#running the aut arima model
import pmdarima as pm
stepwise_model = pm.auto_arima(x_train,start_p=0,start_q=0,max_p=5,max_q=5,m=1,start_P=0,
                            seasonal=False,d=1,D=1,trace=True,error_action='ignore',suppress_warnings=True,stepwise=True)

Performing stepwise search to minimize aic
 ARIMA(0,1,0)(0,0,0)[0] intercept   : AIC=20994.180, Time=1.55 sec
 ARIMA(1,1,0)(0,0,0)[0] intercept   : AIC=16614.548, Time=0.72 sec
 ARIMA(0,1,1)(0,0,0)[0] intercept   : AIC=inf, Time=8.22 sec
 ARIMA(0,1,0)(0,0,0)[0]             : AIC=20992.180, Time=0.20 sec
 ARIMA(2,1,0)(0,0,0)[0] intercept   : AIC=14710.365, Time=1.19 sec
 ARIMA(3,1,0)(0,0,0)[0] intercept   : AIC=13557.726, Time=1.18 sec
 ARIMA(4,1,0)(0,0,0)[0] intercept   : AIC=12930.044, Time=1.86 sec
 ARIMA(5,1,0)(0,0,0)[0] intercept   : AIC=12451.949, Time=2.20 sec
 ARIMA(5,1,1)(0,0,0)[0] intercept   : AIC=9943.641, Time=22.28 sec
 ARIMA(4,1,1)(0,0,0)[0] intercept   : AIC=inf, Time=12.92 sec
 ARIMA(5,1,2)(0,0,0)[0] intercept   : AIC=inf, Time=20.00 sec
 ARIMA(4,1,2)(0,0,0)[0] intercept   : AIC=inf, Time=19.02 sec
 ARIMA(5,1,1)(0,0,0)[0]             : AIC=inf, Time=4.37 sec

Best model:  ARIMA(5,1,1)(0,0,0)[0] intercept
Total fit time: 95.712 seconds

In [163]:
#making multi-step predictions from the model trained on auto arima
forecasts = stepwise_model.predict(n_periods= 2415)
forecasts

array([1.20398841, 1.20869635, 1.19668203, ..., 1.20807407, 1.20808992,
       1.20810577])

In [116]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn import metrics
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
import yellowbrick

In [117]:
#featurisation
#taking the training data to predict the stock price

x = df_full[['VWAP', 'General Index', 'NAV',
       'P/E Ratio', 'Volumes Traded', 'Inventory Turnover',
       'Covid Impact (Beta)', 'Tracking Error', 'Dollar Exchange Rate',
       'Put-Call Ratio', 'P/B Ratio']]
y = df_full['Stock Price']
#np.reshape(y,2103,1)
print(x.shape)
print(y.shape)

(6592, 11)
(6592,)

In [118]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size = 0.25,random_state =0)
from sklearn.preprocessing import PolynomialFeatures
poly_reg = PolynomialFeatures(degree=2)
x_poly_train = poly_reg.fit_transform(x_train)
model = LinearRegression()
model.fit(x_poly_train, y_train)


x_poly_test = poly_reg.fit_transform(x_test)
y_poly_pred = model.predict((x_poly_test))
print("RMSE:",np.sqrt(mean_squared_error(y_test,y_poly_pred)))
print("R^2:",r2_score(y_test,y_poly_pred))

# Visualizing the Polymonial Regression results
def viz_polynomial():
    plt.plot(x_test, y_test, color='red')
    plt.plot(x_poly_test, y_poly_pred, color='blue')
    plt.title('Truth or Bluff (Linear Regression)')
    plt.xlabel('input')
    plt.ylabel('energy')
    plt.show()
    return

#viz_polynomial()

RMSE: 3.6636119945887824
R^2: 0.9999253744189327

In [119]:
y_poly_pred

array([ 746.32012246, 1347.63023782,  140.6562792 , ...,  178.33719722,
         43.52337328,  461.40097033])

In [120]:
#importing the test dataset in which the PCR value is to be replaced with our predicted value, so that the stock price for 16th august is obtained
df_test = pd.read_csv("C:/Users/madhumitha/Downloads/TestDatasetStockPrice.csv")
df

     Stock Index Aug10  Aug11    Aug12      Aug13        Aug14         Aug15
1         AC3235   0.8   0.66   0.7724   0.983224   0.90121088  0.8983682944
2         AC3236  0.86  0.732  0.85448  1.0866448  1.017042176   1.029257659
4         AC3238  1.09  1.008  1.16912  1.4830912  1.461062144   1.531000223
7         AC3241  1.23  1.176  1.36064  1.7244064  1.731335168    1.83640874
8         AC3242     1    0.9    1.046    1.32796    1.2873152   1.334666176
...          ...   ...    ...      ...        ...          ...           ...
3327      AD2734  0.86  0.732  0.85448  1.0866448  1.017042176   1.029257659
3328      AD2735  0.64  0.468  0.55352  0.7074352  0.592327424  0.5493299891
3329      AD2736  0.67  0.504  0.59456  0.7591456  0.650243072  0.6147746714
3330      AD2737  0.79  0.648  0.75872  0.9659872  0.881905664  0.8765534003
3331      AD2738  0.74  0.588  0.69032  0.8798032  0.785379584  0.7674789299

[2715 rows x 7 columns]

In [121]:
#cleaning test data
df_test = df_test.dropna()
df_test = df_test.replace([np.inf, -np.inf], np.nan)
df_test = df_test.dropna()

In [122]:
df_test

,Stock Index,Index,Industry,VWAP,General Index,NAV,P/E Ratio,Volumes Traded,Inventory Turnover,Covid Impact (Beta),Tracking Error,Dollar Exchange Rate,Put-Call Ratio,P/B Ratio
0,AC3235,NSE,Materials,53.30,11270.15,44.59,185.09,12067855.0,2.78,0.03,0.0330,74.9,0.80,4.66
1,AC3236,JSE,Energy,749.34,55722.00,74.20,34.01,6172474.0,6.78,0.11,0.0464,17.7,0.86,6.11
2,AC3237,S&P 500,Information Tech,567.75,3351.28,88.41,177.40,17472488.0,4.36,0.23,0.0401,1.0,0.93,4.99
3,AC3238,NSE,Healthcare,646.78,11270.15,79.36,105.44,15553159.0,2.77,0.78,0.0187,74.9,1.09,1.26
6,AC3241,BSE,Materials,227.28,38182.08,38.50,193.01,4934899.0,4.91,0.03,0.0265,74.9,1.23,4.60
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3324,AD2732,JSE,Healthcare,965.08,55722.00,24.35,22.12,19204201.0,7.75,0.78,0.0404,17.7,0.99,5.40
3325,AD2733,NSE,Information Tech,175.50,11270.15,89.11,127.52,12416359.0,7.17,0.23,0.0337,74.9,1.01,2.99
3326,AD2734,NSE,Energy,121.58,11270.15,11.93,122.28,14034395.0,2.87,0.11,0.0602,74.9,0.86,7.87
3329,AD2737,BSE,Healthcare,479.38,38182.08,20.52,176.89,3069831.0,3.60,0.78,0.0495,74.9,0.79,4.01
3330,AD2738,NYSE,Information Tech,431.43,12765.84,76.46,172.70,12358856.0,6.68,0.23,0.0609,1.0,0.74,4.98

In [123]:
#Replacing the PCR column of the test dataset with the predicted value from the time series model
df_test['Put-Call Ratio']=forecasts
x_actual_test = df_test[['VWAP', 'General Index', 'NAV',
       'P/E Ratio', 'Volumes Traded', 'Inventory Turnover',
       'Covid Impact (Beta)', 'Tracking Error', 'Dollar Exchange Rate',
       'Put-Call Ratio', 'P/B Ratio']]
#np.reshape(y,2103,1)
print(x_actual_test.shape)

(2415, 11)

In [124]:
#testing the values are replaced properly
df_test['Put-Call Ratio'].values

array([1.20398841, 1.20869635, 1.19668203, ..., 1.20807407, 1.20808992,
       1.20810577])

In [125]:
#transforimg the test dataset
x_poly_actual_test = poly_reg.fit_transform(x_actual_test)
y_poly_actual_pred= model.predict((x_poly_actual_test))

In [126]:
#prediction 
print(y_poly_actual_pred)

[ 810.30633509  257.86398545 1554.45546322 ...  136.32443794  348.4698689
 1304.88236679]

In [ ]:
#THE RESULT HAS NO MUCH VARIATIONS FROM THE PREDICTIONS IN THE PREVIOUS MODEL BECAUSE PCR COLUMN VALUES HAVE NO CORRELATION WITH STOCK PRICES

In [127]:
result1 = pd.DataFrame(y_poly_actual_pred)

In [129]:
#putting the values in the dataframe
result1.index = df_test['Stock Index'] 
result1

                       0
Stock Index
AC3235        810.306335
AC3236        257.863985
AC3237       1554.455463
AC3238        832.650612
AC3241        725.182693
...                  ...
AD2732         69.514149
AD2733       1125.240043
AD2734        136.324438
AD2737        348.469869
AD2738       1304.882367

[2415 rows x 1 columns]

In [168]:
#converting the dataframe values to a csv file 
result1.to_csv('flipr_timeseries_pred_of_stockprices.csv')